{{>header}}
{{>navBarBo}}

<div class='back'>
    <a href="boProfessional">Retour</a>
</div>
<div id='containerFormBo'>
    <div class="formBo">
        <form method="post" action="/addProfessional">
        <label for="id_api">id api</label>
        <input type="number" name="id_api">

        <label for="raisonSociale">Raison Sociale</label>
        <input type="text" name="raisonSociale">

        <label for="denominationcourante">Dénomination courante</label>
        <input type="text" name="denominationcourante">

        <label for="siret">Siret</label>
        <input type="text" name="siret">

        <label for="numeroBio">Numero Bio</label>
        <input type="number" name="numeroBio">

        <label for="telephone">Telephone</label>
        <input type="tel" name="telephone">

        <label for="email">E-mail</label>
        <input type="email" name="email">

        <label for="codeNAF">Code Naf</label>
        <input type="text" name="codeNAF">

        <label for="gerant">Gerant</label>
        <input type="text" name="gerant">

        <label for="dateMaj">Date Maj</label>
        <input type="text" name="dateMaj">

        <label for="telephoneCommerciale">Telephone Commerciale</label>
        <input type="tel" name="telephoneCommerciale">

        <label for="reseau">Reseau</label>
        <input type="text" name="reseau">

        <label for="sitesWeb">Sites Web</label>
        <input type="text" name="sitesWeb">

        <label for="adressesOperateurs">Adresses Operateurs</label>
        <input type="text" name="adressesOperateurs">

        <label for="productions">Productions</label>
        <input type="text" name="productions">

        <label for="certificats">Certificats</label>
        <input type="text" name="certificats">

        <label for="mixite">Mixite</label>
        <input type="text" name="mixite">

        <label for="category_name">Categorie :</label>
            <select name="category_name" ">
                <option value=""> --- </option>
                <option value="Artisans/commerçants">Artisans/commerçants</option>
                <option value="Grossistes">Grossistes</option>
                <option value="Vente aux consommateurs">Vente aux consommateurs</option>
                <option value="Magasins spécialisés">Magasins spécialisés</option>
                <option value="Grandes surfaces généralistes">Grandes surfaces généralistes</option>
                <option value="Restaurants">Restaurants</option>
            </select>
        <label for="activity_name">Activité :</label>
            <select name="activity_name" ">
                <option value=""> --- </option>
                <option value="Production">Production</option>
                <option value="Préparation">Préparation</option>
                <option value="Distribution">Distribution</option>
                <option value="Importation">Importation</option>
                <option value="Stockage">Stockage</option>
                <option value="Restauration">Restauration</option>
                <option value="Transport">Transport</option>
                <option value="Exportation">Exportation</option>
            </select>
        </form>
        <button type="submit">Valider</button>
    </div>
</div>

</body>
</html>