<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADMINISTRATION</h1>
    <section>
        <h2>Utilisateur</h2>
        <a href="boUser">Gérer</a>
    </section>
    <section>
        <h2>Catalogue Professionnel</h2>
        <a href='boProfessional'>Gérer catalogue</a>
    </section>
    <section>
        <h2>Méssage</h2>
        <a href="boContact">Gérer message</a>
    </section>
</body>
</html>