{{>header}}
<body>
    <h1>ADMINISTRATION</h1>
    <h1>Bonjour : {{userRole}} {{userName}}</h1>
<div id="sectionBo">
    <div class="boCard">
        <h2>Utilisateur</h2>
        <p>{{user}} inscrit</p>
        <a href="boUser">Gérer</a>
    </div>

    <div class="boCard">
        <h2>Catalogue</h2>
        <h2>Professionnel</h2>
        <p>{{professional}} inscrit</p>
        <a href='boProfessional'>Gérer catalogue</a>
    </div>
{{#superAdmin}}
    <div class="boCard">
        <div id="nbcontact">
        <h2>Méssage</h2>
        <p>{{contact}} Non-lu</p>
        </div>
        <a href="boContact">Gérer message</a>
    </div>
{{/superAdmin}}
</div>
</body>
</html>