<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="backOffice">Retour</a>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>E-mail</th>
            <th>Téléphone</th>
            <th>Sujet</th>
            <th>Etat</th>
            <th>Action</th>      
        </tr>
    </thead>
    <tbody>
        {{#contact}}
            <tr>
                <td>{{last_name}}</td>
                <td>{{first_name}}</td>
                <td>{{email}}</td>
                <td>{{phone}}</td>
                <td>{{subject}}</td>
                <td>{{view}}</td>
                <td>
                <a href="readContact/{{id}}">Lire</a>
                <a href="/delete/?id={{id}}">Supprimer</a>
                </td>
            </tr>
        {{/contact}}    
    </tbody>
</table>
</body>
</html>