{{>header}}
<body>
    <a href="backOffice">Retour</a>
<table>
    <thead>
        <tr>
            <th>Raison Sociale</th>
            <th>Siret</th>
            <th>Numero Bio</th>
            <th>Telephone</th>
            <th>E-mail</th>
            <th>Gerant</th>
            <th>Telephone Commerciale</th>
            <th>Sites Web</th>
            <th>Action</th>    
        </tr>
    </thead>
    <tbody>
        {{#professionals}}
            <tr>
                <td>{{raisonSociale}}</td>
                <td>{{siret}}</td>
                <td>{{numeroBio}}</td>
                <td>{{telephone}}</td>
                <td>{{email}}</td>
                <td>{{gerant}}</td>
                <td>{{telephoneCommerciale}}</td>
                <td>{{sitesWeb}}</td>
            </tr>
        {{/professionals}}    
    </tbody>
</table>
<div class="pagination">
    <ul>
        <li>
            <a href="/boProfessional?page={{previous}}">Précédent</a>
        </li>
        {{#pageNumbers}}
        <li>
            <a href="/boProfessional?page={{.}}">{{.}}</a>
        </li>
        {{/pageNumbers}}
        <li>
            <a href="/boProfessional?page={{next}}">Suivant</a>
        </li>
    </ul>
</div>
<a href="addProfessional">AJOUTER</a>
</body>
</html>