{{>header}}

<body>
    <a href="backOffice">Retour</a>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Password</th>
            <th>E-mail</th>
            <th>Role</th>
            {{#superAdmin}}
            <th>Action</th>  
            {{/superAdmin}}
        </tr>
    </thead>
    <tbody>
        {{#user}}
            <tr>
                <td>{{name}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{display_name}}</td>
                {{#superAdmin}}
                <td><a href="/deleteUser/?id={{id}}">Supprimer</a></td>
                {{/superAdmin}}
            </tr>
        {{/user}}    
    </tbody>
</table>
<a href="addUser">AJOUTER</a>
</body>