{{>header}}

<body>
    <a href="backOffice">Retour</a>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>E-mail</th>
            <th>Role</th>
            {{#superAdmin}}
            <th>Action</th>  
            {{/superAdmin}}
        </tr>
    </thead>
    <tbody>
        {{#user}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{display_name}}</td>
                {{#superAdmin}}
                <td>
                    <a href="/updateUser/{{id}}">Modifier Admin</a>
                    <a href="/deleteUser/{{id}}">Supprimer</a>
                </td>
                {{/superAdmin}}
            </tr>
        {{/user}}    
    </tbody>
</table>
<div class='add'>
<a href="addUser">AJOUTER</a>
</div>
</body>