<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
    <label for="">id api</label>
    <input type="number" name="id_api">

    <label for="">Raison Sociale</label>
    <input type="text" name="raisonSociale">

    <label for="">Dénomination courante</label>
    <input type="text" name="denominationcourante">

    <label for="">Siret</label>
    <input type="text" name="siret">

    <label for="">Numero Bio</label>
    <input type="number" name="numeroBio">

    <label for="">Telephone</label>
    <input type="tel" name="telephone">

    <label for="">E-mail</label>
    <input type="email" name="email">

    <label for="">Code Naf</label>
    <input type="text" name="codeNAF">

    <label for="">Gerant</label>
    <input type="text" name="gerant">

    <label for="">Date Maj</label>
    <input type="text" name="dateMaj">

    <label for="">Telephone Commerciale</label>
    <input type="tel" name="telephoneCommerciale">

    <label for="">Reseau</label>
    <input type="text" name="reseau">

    <label for="">Sites Web</label>
    <input type="text" name="sitesWeb">

    <label for="">Adresses Operateurs</label>
    <input type="text" name="adressesOperateurs">

    <label for="">Productions</label>
    <input type="text" name="productions">

    <label for="">Certificats</label>
    <input type="text" name="certificats">

    <label for="">Mixite</label>
    <input type="text" name="mixite">

    <label for="">ProfessionalCol</label>
    <input type="text" name="Professionalcol">
    </form>

    <button type="submit">Valider</button>
</body>
</html>