   {{>header}}

<body>
    
    <div class="contFormulaireBo">
        <h1>Nouveau mot de passe</h1>
        <ul>
            {{#errors}}
            <li>{{.}}</li>
            {{/errors}}
        </ul>
        <div class="formulaireBo">
            <form method="post" >
                <div>
                    <label for="password">Nouveau mot de passe</label>
                    <input type="password" name="password1" id="password">
                </div>
                <div>
                    <label for="password">Confirmer nouveau mot de passe</label>
                    <input type="password" name="password2" id="password">
                </div>
                <button type="submit">Envoi</button>
            </form>
        </div>
    </div>   
</body>
</html>