    {{>header}}

<body>
    
    <div class="contFormulaireForget">
        <h1>Mot de passe oublié</h1>
        <ul>
            {{#errors}}
            <li>{{.}}</li>
            {{/errors}}
        </ul>
        <div class="formulaireBo">
            <form method="post" >
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <button type="submit">Envoi</button>
            </form>
        </div>
    </div>   
</body>
</html>