    
    {{>header}}
    {{>navbar}}

    <h1>LES PROFESSIONNELS</h1>
    {{#professionals}}
    <p>{{raisonSociale}}</p>
    <p>{{gerant}}</p>
    <p>{{telephone}}</p>

    {{/professionals}}


    {{>footer}}
