    
    {{>header}}
    {{>navbar}}

<section class="section1">
<h1>BIO&VIE</h1>
<p>Votre catalogue des professionnels certifiés bio







</section>

    <h2>LES PROFESSIONNELS</h2>
    {{#professionals}}
    <p>{{raisonSociale}}</p>
    <p>{{gerant}}</p>
    <p>{{telephone}}</p>

    {{/professionals}}


    {{>footer}}
