    
    {{>header}}
    {{>navbar}}

<section class="section1">
<h1>BIO&VIE</h1>
<p>Votre catalogue<br> des professionnels certifiés bio
</section>
<section class="section2">
    <div class="containerinfo">
        <div class="leftinfo">
        </div>
        <div class="rightinfo">
        <img src="/images/icons/icon-ble.png" alt="">
        <p>{{nbProfessional}}</p>
        <P>professionnels</p>
        <img src="/images/icons/icon-france.png" alt="">
        <p>Dans la France entière</p>
        </div>
    </div>
</section>
<section class="section3">
    <div class="containerpresentation">
        <div class="imgpresentation"></div>
        <div class="presentation">
            <h2>QUI SONT-ILS ?</h2>
            <p>Lorem ipsum dolor sit amet. Non earum consequatur et porro dicta qui minima sequi et eius reiciendis vel eligendi maiores et omnis saepe 33 enim dolores. Rem nesciunt facere et eaque laborum ab aliquam doloremque et galisum corporis eum molestiae deserunt!</p>
        </div>
    </div>
</section>
<section class="section4" id='categories'>
    <div class="containertri">
        <a href="/?categorie=3#Professionnels" class="tri">
            <div >
                <img src="/images/icons/icon-vente-directe.png" alt="">
                <div class="logo">
                </div>
                <p>VENTE DIRECT</p>
            </div>
        </a>
        <a href="/?categorie=2#Professionnels" class="tri">
            <div>
                <div class="logo">
                <img src="/images/icons/icon-grossiste.png" alt="">
                </div>
                <p>GROSSISTE</p>
            </div>
        <a href="/?categorie=5#Professionnels" class="tri">
            <div>
                <div class="logo">
                <img src="/images/icons/icon-grande-et-moyenne-surface.png" alt="">
                </div>
                <p>GRANDE ET <br> MOYENNE SURFACE</p>
            </div>
        </a>
        <a href="/?categorie=4#Professionnels" class="tri">
            <div>
                <div class="logo">
                <img src="/images/icons/icon-magasin-specialise.png" alt="">
                </div>
                <p>MAGASIN SPÉCIALISÉ</p>
            </div>
        </a>
        <a href="/?categorie=1#Professionnels" class="tri">
            <div>
                <div class="logo">
                <img src="/images/icons/icon-artisan-commercant.png" alt="">
                </div>
                <p>ARTISAN / COMMERÇANT</p>
            </div>
        </a>
        <a href="/?categorie=6#Professionnels" class="tri">
            <div>
                <div class="logo">
                <img src="/images/icons/icon-restaurant.png" alt="">
                </div>
                <p>RESTAURANT</p>
            </div>
        </a>
    </div>
    
</section>
<section class="section5" id="Professionnels">
    <h2>LES PROFESSIONNELS</h2>
    <div class="containercard">
        
        {{#professionals}}
            <a href="professionnel/{{id}}">
                <div class="card">
                    <img src="{{logo}}" alt="">
                    <p>{{raisonSociale}}</p>
                    <p>{{gerant}}</p>
                    <p>{{telephone}}</p>
                </div>
            </a>
        {{/professionals}}

    </div>

  <div class="pagination">
    <ul>
        <li>
            <a href="/?page={{previous}}&categorie={{categorie}}#Professionnels">Précédent</a>
        </li>
        {{#pageNumbers}}
        <li>
            <a href="/?page={{.}}&categorie={{categorie}}#Professionnels">{{.}}</a>
        </li>
        {{/pageNumbers}}
        <li>
            <a href="/?page={{next}}&categorie={{categorie}}#Professionnels">Suivant</a>
        </li>
    </ul>
</div>
</section>

    {{>footer}}
