<nav>
    <div class="navname">
        <h3>BIO&VIE</h3>
    </div>
    <div class="containerlien">
        <ul>
            <li><a href="/">ACCUEIL</a></li>
            <li><a href="professionnel">NOS PROFESSIONNELS</a></li>
            <li><a href="contact">CONTACTEZ-NOUZ</a></li>   
        </ul>
    </div>
</nav>


