<nav>
    <div class="navMobileBo">
        <div id="burger-menu">
            <span></span>
        </div>
        <div id="menu">
            <ul>
                <li>
                    <a href="boUser">
                        <h2>Utilisateur</h2>
                        <p>{{user}} inscrit</p>
                    </a>
                </li>
                <li>
                    <a href='boProfessional'>
                        <h2>Catalogue</h2>
                        <h2>Professionnel</h2>
                        <p>{{professional}} inscrit</p>
                    </a>
                </li>
                <li>
                    <a href="boContact">
                        <h2>Méssage</h2>
                        <p>{{contact}} Non-lu</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

