<nav>
    <div class="navDesktop">
        <div class="navname">
            <h3>BIO&VIE</h3>
        </div>
        <div class="containerlien">
            <ul>
                <li class="spaceNav"><a href="/">ACCUEIL</a></li>
                
                <li class="spaceNav"><a href="/#categories">NOS PROFESSIONNELS</a></li>
                
                <li><a href="/contact">CONTACTEZ-NOUS</a></li>   
            </ul>
        </div>
    </div>
    <div class="navMobile">
        <div id="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><span><a href="/">ACCUEIL</a></li>
            <li><span><a href="/#categories">NOS PROFESSIONNELS</a></li>
            <li><span><a href="/contact">CONTACTEZ-NOUS</a></li>
        </ul>
    </div>
    
</nav>

