{{>header}}
{{>navbar}}
<section class="pagepro">
    
    <div class="containerpro">
        <div class="proname">
            <h3>{{}}HOLLA</h3>
        </div>
        <div class="proinfo">
            <div class="proleft">     
                <div>
                    <h4>NUMÉRO BIO</h4>
                    <p>{{}}</p>
                    <h4>SIRET</h4>
                    <p>{{}}</p>
                    <h4>SITE INTERNET</h4>
                    <p>{{}}</p>
                </div>
                <div>
                    <h4>GÉRANT</h4>
                    <p>{{}}</p>
                    <h4>TÉLÉPHONE</h4>
                    <p>{{}}</p>
                    <h4>EMAIL</h4>
                    <p>{{}}</p>
                </div>
            </div>
            <div class="proright">
                <h4>CATÉGORIE</h4>
                <h4>ACTIVITÉS</h4>
            </div>
        </div>
    </div>
</section>
{{>footer}}