{{>header}}
{{{navBarBo}}}

<div id='contenairRead'>
{{#message}}
    <h1>Suget : {{subject}}</h1>
    <p>{{message}}</p>
{{/message}}
<div class='back'>
    <a href="/boContact">Retour</a>
</div>
</div>
