
@import "var.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 3em;
}

// Nav Bar 

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 0 10px gray;
    color: @color-black;

    .navname {
        display: flex;
        align-items: center;
        justify-items: start;
        font-size: large;
        width: 30%;
    }

    .containerlien {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 70px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }

    .spaceNav {
        border-right: solid 1px;
    }

    a {
        margin: 0px 20px 0px 20px;
    }
}

a {
    text-decoration: none;
    font-size: 1.1em;
    padding: 0px 10px;
}


// FOOTER 

footer {
    width: 100%;
    height: 400px;
    background-image: url("../images/bandeau-footer.jpg");
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 100px;
    padding-left: 15%;
    font-size: 1.5em;
    color: @color-white;

    a {
        color: @color5;
    }
}




// INDEX 

// SECTION 1 
.section1 {
    background-image: url("../images/index/bandeau-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

.section1 h1 {
    font-size: 10em;
    color: @color-white;
    padding: 10% 0% 0% 15%;
}

.section1 p {
    font-size: 3em;
    color: @color-white;
    padding: 0% 0% 15% 15%;
}

// SECTION 2 

.section2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.containerinfo {
    width: 100%;
    height: 20vw;
    display: flex;
    position: relative;
    top: -150px;

}

.leftinfo {
    width: 80%;
    background-image: url("../images/index/infos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.rightinfo {
    width: 400px;
    background-color: @color2;
    padding: 50px;
    justify-content: center;
    color: @color1;
    font-size: 1.2em;
    text-align: center;
}

// SECTION 3 


.containerpresentation {
    width: 100%;
    height: 30vw;
    display: flex;

}

.imgpresentation {
    background-image: url("../images/index/presentation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 25vw;
}

.presentation {
    width: 45%;
    text-align: left;
    padding: 5%;
}

// SECTION 4 

.containertri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25vh;
    width: 100%;
    height: 50vh;
    text-align: center;
    padding: 0;


    .tri {
        width: 100%;
        height: 25vh;
        background-color: @color2;
        color: @color1;
        font-size: 1.6em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .logo {
            width: 50px;
            height: 50px;
            background-color: @color3;
            border-radius: 50%;
            position: relative;
            right: 12%;
            bottom: 5%;
            z-index: auto;
        }
        img{
            z-index: 1;
            position: relative;
            top: 10%;
        }

    }
    a{
        padding: 0;
    }
}



.tri:hover {
    color: @color-white;
    background-color: @color4;
    height: 25vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0% 15% 5%;
}

.containercard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card {
    width: 15vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px gray;

    h4 {
        margin: 30px;
    }

    h5 {
        font-size: 1.5em;
        color: @color-black;
    }

    p {
        font-size: 1.3em;
        color: @color-black;
    }
}

.pagination {
    display: flex;
    justify-content: center;

}

.pagination ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    padding-top: 20px;
}

// CONTACT 

#contact {
    background-image: url("../images/contact/bandeau-desktop.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.containerform {
    width: 41vw;
    height: 36vw;
    margin: 8% 0 8% 20%;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0px 0 10px gray;


}

form {
    width: 100%;
    padding-top: 1.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#form1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#form2 {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

#form3 input {
    height: 8.5vw;
    text-align: start;
}

.form {
    width: 100%;
}

input {
    width: 100%;
    height: 40px;
    font-size: 1.1em;
    margin-bottom: 20px;
    background-color: #dfe8e7;
    border: none;
    padding-left: 15px;

}

input::placeholder {
    color: black;
}

button {
    background-color: @color2;
    color: @color-white;
    width: 60%;
    height: 50px;
    font-size: 1.1em;
    align-self: center;
    margin-top: 40px;
}

.containercontact {
    height: 41vw;
    position: relative;
    bottom: -5vw;
}

.info {

    background-color: @color2;
    color: @color-white;
    padding-left: 10%;
    padding-top: 10%;
    width: 26vw;
    height: 21vw;



    ul {
        list-style-type: none;
        font-size: 1.5em;
        margin-top: 40px;
    }

    li {
        padding-top: 20px;
    }

    h3 {
        color: @color1;
        font-size: 2em;
    }
}

.map {
    width: 100%;
    height: 21vw;
    box-shadow: 0px 0 10px gray;
}
.carte{
    width: 100%;
    height: 100%;
}

// PROFESSIONAL 

.pagepro {
    width: 100%;
    height: 40vw;
    max-height: 100%;
    background-image: url(../images/unique/bandeau-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    object-fit: fill;
    margin-bottom: 10%;
}

.containerpro {
    width: 46%;
    height: 27vw;
    margin-left: 30%;
    position: relative;
    top: 28%;

}

.proname {
    background-color: @color2;
    display: flex;
    align-items: center;
    padding: 25px;

    img {
        height: 50px;
        object-fit: fill;

    }

    h3 {
        color: @color1;
        font-size: 2em;
        padding-left: 20px;
    }

}

.proinfo {
    display: flex;
    height: 100%;

}

.proleft {
    width: 70%;
    height: 100%;
    background-color: @color-white;
    box-shadow: -2px 2px 5px gray;

    .Proleftsec {
        width: 18vwpx;
        padding: 50px;
        padding-top: 30px;

        h4 {
            margin-top: 20px;
        }

    }

    .ProleftSpace {
        width: 15.5vw;
        height: 2px;
        background-color: @color-black;
        margin-left: 50px;
    }
}

h4 {
    color: @color5;
    font-size: 1.3em;
}

.proright {
    background-color: @color4;
    width: 30%;

    text-align: left;
    padding-left: 50px;

    h4 {
        margin-top: 50px;
    }

    p {
        color: @color-white;
    }
}